@font-face {
	font-family: 'Vera';
	src: url('../fonts/Vera.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/Ubuntu.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/Ubuntu-B.ttf');
	font-weight: bold;
	font-style: normal;
}
