body{
  margin: 0px;
  background-image: url('../img/1.png');
  width:100%;
  height:100%;
}
#ola{
  font-family: 'Vera';
  font-size: 200px;
  line-height: 350px;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  height:350px;
  margin-top:-250px;
  width:100%;
  text-align: center;
}
#bio{
  font-family: 'Ubuntu';
  font-size: 21px;
  line-height: 25px;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  height:50px;
  margin-top:25px;
  width:80%;
  left:10%;
  text-align: center;
}
